<div>
  <ng-template appHeaderToolbar>
    <app-page-toolbar [showSearch]="false">
      <button actions mat-flat-button (click)="openForm(null)">{{ t.common.create }}</button>
    </app-page-toolbar>
  </ng-template>

  <div class="ui-card !p-0">
    <lib-data-table
      [columns]="columns"
      [rows]="store.addOns()"
      [labels]="labels"
      [emptyText]="t.common.empty"
      exportName="add-ons"
      (exportFailed)="onExportFailed($event)"
    >
      <ng-template dtCell="unit" let-a>{{ t.addOn.unitLabels[a.unit] }}</ng-template>
      <ng-template dtCell="actions" let-a>
        <button mat-button (click)="openForm(a)">{{ t.common.edit }}</button>
        <button mat-button color="warn" (click)="remove(a)">{{ t.common.delete }}</button>
      </ng-template>
    </lib-data-table>
  </div>
</div>
