<div>
  <ng-template appHeaderToolbar>
    <app-page-toolbar>
      <button
        actions
        matButton="tonal"
        [matBadge]="todayPendingPrepCount()"
        [matBadgeHidden]="todayPendingPrepCount() === 0"
        matBadgeColor="warn"
      >
        <span class="material-symbols-rounded" aria-hidden="true">build</span>
        待整備
      </button>
      <button
        actions
        matButton="tonal"
        [matBadge]="maintenanceStore.alerts().length"
        [matBadgeHidden]="maintenanceStore.alerts().length === 0"
        matBadgeColor="warn"
      >
        <span class="material-symbols-rounded" aria-hidden="true">car_repair</span>
        待保養
      </button>
      <button actions matButton="tonal">
        <span class="material-symbols-rounded" aria-hidden="true">add</span>
        新增訂單
      </button>
    </app-page-toolbar>
  </ng-template>
  <app-calendar-view [targetDate]="targetDate()" (dateSelected)="selectCalendarDate($event)" />
</div>
