<h2 mat-dialog-title>{{ t.prep.title }}</h2>
<div mat-dialog-content class="prep-queue">
  <p class="prep-queue__hint">{{ t.prep.hint }}</p>
  <lib-data-table
    [columns]="columns"
    [rows]="rows()"
    [labels]="labels"
    [showExport]="false"
    [emptyText]="t.prep.empty"
  >
    <ng-template dtCell="plate" let-r>
      <span class="prep-queue__plate">{{ r.plate }}</span>
    </ng-template>
    <ng-template dtCell="nextPickupAt" let-r>
      <span class="prep-queue__next-pickup" [class.prep-queue__next-pickup--none]="!r.hasNextPickup">{{
        r.nextPickupAt
      }}</span>
    </ng-template>
    <ng-template dtCell="actions" let-r>
      <button
        matButton="tonal"
        type="button"
        class="prep-queue__complete"
        [attr.aria-label]="completeLabel(r)"
        (click)="complete(r)"
      >
        <span class="material-symbols-rounded" aria-hidden="true">task_alt</span>
        {{ t.prep.complete }}
      </button>
    </ng-template>
  </lib-data-table>
</div>
<div mat-dialog-actions align="end">
  <button matButton="text" type="button" mat-dialog-close>{{ t.prep.close }}</button>
</div>
