<div class="page-toolbar">
  <div class="flex flex-wrap gap-2 ml-auto">
    @if (showSearch()) {
      <div class="search" [class.search--expanded]="expanded()" (keydown.escape)="onEscape()">
        <button
          #toggleBtn
          type="button"
          class="search__toggle"
          [attr.aria-label]="expanded() ? t.common.collapseSearch : t.common.search"
          [attr.aria-expanded]="expanded()"
          [attr.aria-controls]="searchInputId"
          (mousedown)="$event.preventDefault()"
          (click)="toggle()"
        >
          <mat-icon>search</mat-icon>
        </button>

        <input
          #searchInput
          [id]="searchInputId"
          type="text"
          class="search__input"
          [tabindex]="expanded() ? 0 : -1"
          [attr.aria-label]="placeholder()"
          [placeholder]="placeholder()"
          [ngModel]="query()"
          (ngModelChange)="query.set($event)"
          (blur)="collapseIfEmpty()"
        />

        @if (query()) {
          <button
            type="button"
            class="search__clear"
            [attr.aria-label]="t.common.clearSearch"
            (mousedown)="$event.preventDefault()"
            (click)="clearKeepFocus()"
          >
            <mat-icon>close</mat-icon>
          </button>
        }
      </div>
    }

    <div class="actions">
      <ng-content select="[actions]" />
    </div>
  </div>

  <div class="filters">
    <ng-content select="[filters]" />

    @if (activeFilterCount() > 0) {
      <button mat-button class="clear-btn" type="button" (click)="clearAll.emit()">
        <mat-icon>close</mat-icon>
        {{ t.common.clearFilters }}
      </button>
    }
  </div>
</div>
