<div>
  <ng-template appHeaderToolbar>
    <app-page-toolbar [showSearch]="false">
      <button actions mat-flat-button (click)="openForm(null)">
        <span class="material-symbols-rounded" aria-hidden="true">add</span>
        {{ t.common.create }}
      </button>
    </app-page-toolbar>
  </ng-template>

  @if (store.coupons().length === 0) {
    <p class="empty-state">{{ t.common.empty }}</p>
  } @else {
    <div class="ui-card !p-0">
      <lib-data-table
        [columns]="columns"
        [rows]="store.coupons()"
        [labels]="labels"
        [selectable]="true"
        [selection]="selectedCoupons()"
        [emptyText]="t.common.empty"
        exportName="coupons"
        (selectionChange)="selectedCoupons.set($event)"
        (batchDelete)="removeSelected($event)"
        (exportFailed)="onExportFailed($event)"
      >
        <ng-template dtCell="type" let-c>{{ t.coupon.typeLabels[c.type] }}</ng-template>
        <ng-template dtCell="value" let-c>{{ c.type === 'percent' ? c.value + '%' : c.value }}</ng-template>
        <ng-template dtCell="minDays" let-c>{{ c.minDays ?? '-' }}</ng-template>
        <ng-template dtCell="applicableCategories" let-c>
          {{ c.applicableCategories?.length ? c.applicableCategories.map(cat => t.vehicle.typeLabels[cat]).join('、') : t.common.all }}
        </ng-template>
        <ng-template dtCell="period" let-c>{{ c.validFrom }} ~ {{ c.validTo }}</ng-template>
        <ng-template dtCell="actions" let-c>
          <span class="action-cell">
            <button mat-icon-button [matTooltip]="t.common.edit" [attr.aria-label]="t.common.edit" (click)="openForm(c)">
              <span class="material-symbols-rounded" aria-hidden="true">edit</span>
            </button>
            <button mat-icon-button color="warn" [matTooltip]="t.common.delete" [attr.aria-label]="t.common.delete" (click)="remove(c)">
              <span class="material-symbols-rounded" aria-hidden="true">delete</span>
            </button>
          </span>
        </ng-template>
      </lib-data-table>
    </div>
  }
</div>
