<div>
  <ng-template appHeaderToolbar>
    <app-page-toolbar [showSearch]="false">
      <button actions mat-flat-button (click)="openForm(null)">{{ t.common.create }}</button>
    </app-page-toolbar>
  </ng-template>

  @if (store.coupons().length === 0) {
    <p class="empty-state">{{ t.common.empty }}</p>
  } @else {
    <div class="ui-card !p-0">
      <lib-data-table
        [columns]="columns"
        [rows]="store.coupons()"
        [labels]="labels"
        [emptyText]="t.common.empty"
        exportName="coupons"
        (exportFailed)="onExportFailed($event)"
      >
        <ng-template dtCell="type" let-c>{{ t.coupon.typeLabels[c.type] }}</ng-template>
        <ng-template dtCell="value" let-c>{{ c.type === 'percent' ? c.value + '%' : c.value }}</ng-template>
        <ng-template dtCell="minDays" let-c>{{ c.minDays ?? '-' }}</ng-template>
        <ng-template dtCell="applicableCategories" let-c>
          {{ c.applicableCategories?.length ? c.applicableCategories.map(cat => t.vehicle.typeLabels[cat]).join('、') : t.common.all }}
        </ng-template>
        <ng-template dtCell="period" let-c>{{ c.validFrom }} ~ {{ c.validTo }}</ng-template>
        <ng-template dtCell="actions" let-c>
          <button mat-button (click)="openForm(c)">{{ t.common.edit }}</button>
          <button mat-button color="warn" (click)="remove(c)">{{ t.common.delete }}</button>
        </ng-template>
      </lib-data-table>
    </div>
  }
</div>
