<div>
  <ng-template appHeaderToolbar>
    <app-page-toolbar [showSearch]="false">
      <button actions mat-flat-button (click)="openForm(null)">
        <span class="material-symbols-rounded" aria-hidden="true">add</span>
        {{ t.common.create }}
      </button>
    </app-page-toolbar>
  </ng-template>

  @if (store.plans().length === 0) {
    <p class="empty-state">{{ t.common.empty }}</p>
  } @else {
    <div class="ui-card !p-0">
      <lib-data-table
        [columns]="columns"
        [rows]="store.plans()"
        [labels]="labels"
        [selectable]="true"
        [emptyText]="t.common.empty"
        exportName="pricing"
        (exportFailed)="onExportFailed($event)"
      >
        <ng-template dtCell="appliesToCategory" let-p>{{ t.vehicle.typeLabels[p.appliesToCategory] }}</ng-template>
        <ng-template dtCell="weekday" let-p>{{ p.dayTypeRates.weekday | twd }}</ng-template>
        <ng-template dtCell="weekend" let-p>{{ p.dayTypeRates.weekend | twd }}</ng-template>
        <ng-template dtCell="holiday" let-p>{{ p.dayTypeRates.holiday | twd }}</ng-template>
        <ng-template dtCell="peak" let-p>{{ p.dayTypeRates.peak | twd }}</ng-template>
        <ng-template dtCell="tiers" let-p>{{ tiersSummary(p) }}</ng-template>
        <ng-template dtCell="actions" let-p>
          <span class="action-cell">
            <button mat-icon-button [matTooltip]="t.common.edit" [attr.aria-label]="t.common.edit" (click)="openForm(p)">
              <span class="material-symbols-rounded" aria-hidden="true">edit</span>
            </button>
            <button mat-icon-button color="warn" [matTooltip]="t.common.delete" [attr.aria-label]="t.common.delete" (click)="remove(p)">
              <span class="material-symbols-rounded" aria-hidden="true">delete</span>
            </button>
          </span>
        </ng-template>
      </lib-data-table>
    </div>
  }
</div>
